In [4]:
# Add dependencies.
import pandas as pd

In [6]:
# Files to load
vine_table_to_load = "vine_table.csv"
vine_table_df = pd.read_csv(vine_table_to_load)
vine_table_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3O9SGZBVQBV76,5,0,0,N,Y
1,RKH8BNC3L5DLF,5,0,0,N,Y
2,R2HLE8WKZSU3NL,2,1,1,N,Y
3,R31U3UH5AZ42LL,5,0,0,N,Y
4,R2SV659OUJ945Y,4,0,0,N,Y

In [10]:
# 1: filter data to show total_votes >20 in a df
total_votes20 = vine_table_df[vine_table_df['total_votes'] > 20]
total_votes20.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
619,R1BTWIBLYYVOV7,5,30,30,N,Y
1025,R6F9VY91ADPLA,1,8,30,N,N
1548,R3PXNV89DFIXKV,5,35,37,N,Y
1573,R2ZF9NYVT3J7D6,5,19,22,N,Y
1615,R20NYA5V0UF9NE,5,27,28,N,Y

In [12]:
# 2: Filter df from #1 to retrieve all helpful vptes in a new df
divide_df= total_votes20[(total_votes20['helpful_votes'] / total_votes20['total_votes']) >= 0.5]
divide_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
619,R1BTWIBLYYVOV7,5,30,30,N,Y
1548,R3PXNV89DFIXKV,5,35,37,N,Y
1573,R2ZF9NYVT3J7D6,5,19,22,N,Y
1615,R20NYA5V0UF9NE,5,27,28,N,Y
2304,R2X8FZRUOS8R8C,4,25,26,N,Y

In [47]:
# 3: filter df from #2 to gather vine reviews in a df
vineY = divide_df[(divide_df["vine"] == 'Y')]
#total vine reviews
vineY_count = vineY['review_id'].count()
vineY_count

43

In [46]:
# 4: filter df from #2 to gather non-vine reviews in a df
vineN = divide_df[(divide_df["vine"] == 'N')]
# total non-vine reviews
vineN_count = vineN['review_id'].count()
vineN_count

7750

In [49]:
# total vine 5 star reviews
vineY_5 = vineY[(vineY["star_rating"] >= 5)]
vineY5_count = vineY_5['review_id'].count()
vineY5_count

14

In [50]:
# total non-vine 5 star reviews
vineN_5 = vineN[(vineN["star_rating"] >= 5)]
vineN5_count = vineN_5['review_id'].count()
vineN5_count

4027

In [51]:
# Percentage of 5 star reviews from vine users
percent_vineY_5 = (vineY5_count/vineY_count)*100
print (percent_vineY_5,"%")

32.55813953488372 %

In [55]:
# Percentage of 5 star reviews from non-vine users
percent_vineN_5 = (vineN5_count/vineN_count)*100
print (percent_vineN_5,"%")

51.961290322580645 %

In [57]:
import numpy as np
percent_vineY_5 = np.round(percent_vineY_5, decimals=2)
print(percent_vineY_5,"%")
percent_vineN_5 = np.round(percent_vineN_5, decimals=2)
print (percent_vineN_5,"%")

32.56 %
51.96 %

In [58]:
print(f"There are {vineY_count} vine reviews.")
print(f"There are {vineN_count} non-vine reviews.")
print(f"There are {vineY5_count} 5-star vine reviews.")
print(f"There are {vineN5_count} 5-star non-vine reviews.")
print(f"There are {percent_vineY_5}% 5-star vine reviews.")
print(f"There are {percent_vineN_5}% 5-star non-vine reviews.")

There are 43 vine reviews.
There are 7750 non-vine reviews.
There are 14 5-star vine reviews.
There are 4027 5-star non-vine reviews.
There are 32.56% 5-star vine reviews.
There are 51.96% 5-star non-vine reviews.